* {
    box-sizing: border-box;
}

.main_container {
    max-width: 360px;
    margin: 0 auto;
    position: relative;
}

.gradient_box {
    width: 557px;
    height: 659px;
    background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
